@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__text
      margin-top: 2.5rem

@media screen and ( max-width: 992px )

  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
      min-width: 23rem

@media screen and ( max-width: 670px )
  .contacts
    &__button
      display: none
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      margin-right: 18px

  .title
    font-size: 1.64rem
    line-height: 2.8rem

  .hero
    &__scroll-down
      display: none
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__content
      max-width: 22.86rem
    &__button
      display: block
      min-width: 22.86rem
      margin-bottom: 1.85rem

  .button
    &--outline
      text-align: center

  .logo
    margin-left: 18px
    cursor: pointer

@media screen and ( max-height: 520px  )
  .hero
    &__scroll-down
      display: none

@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    padding-right: 17px
    padding-left: 17px
    &__card
      margin-bottom: 7.14rem

  .card
    &__text
      margin-left: 0

@media screen and ( max-width: 760px )

  .design
    background: $dark
    padding-bottom: 17.14rem
    padding-right: 17px
    padding-left: 17px
    &__text
      color: $light
      font-family: 'Futura Book', sans-serif
      font-style: normal
      font-weight: normal
      font-size: 15px
      padding: 0 10px
    &__card
      margin-bottom: 7.14rem

@media screen and ( max-width: 760px )

  .section
    &-title
      &__word
        &::after
          display: none
      &__heading
        margin-top: 0
        color: $primary
        font-family: 'Yeseva One', cursive
        font-style: normal
        font-weight: normal
        font-size: 22px
      &__text
        font-size: 14px
        padding-right: 3.28rem
    &--dark
      padding: 0
      padding-bottom: 300px

  .col
    &-50
      width: 100%
      padding-right: 1.3rem
      padding-left: 1.3rem
      margin-top: 0
      margin-bottom: 2.36rem

@media screen and ( max-width: 520px  )

  .control
    background-color: $dark
    padding-bottom: 0
    &__video
      margin: 40px 17px 28px 17px
      width: 340px
      min-height: 207px
      object-fit: cover
      object-position: center

    &__text
      font-size: 14px
      margin-right: 17px
      margin-left: 17px
      line-height: 169.8%
      margin-bottom: 2.5rem
      color: $light
      &::before
        margin-bottom: 1.5rem
    &__form
      display: flex
      flex-direction: column
      margin-right: 17px
      margin-left: 17px
      margin-top: 26px
    &__label
      font-size: 16px
      color: rgba(255, 255, 255, 0.5)
    &__input
      font-size: 18px
      &::placeholder
        color: $light
    &__button
      margin-top: 5.3rem
      margin-bottom: -2rem
      order: 4
    &__policy
      padding-right: 2rem
      order: 3
      &-label
        margin-top: 0
        font-size: 16px
        color: $light

  .input-group1
    margin-bottom: 5.2rem

// footer
@media screen and ( max-width: 520px  )

  .footer
    &__heading
      padding: 0 16px
      font-size: 18px
      line-height: 138.6%
      margin-bottom: 23px
    &__title
      margin-bottom: 52px
      font-size: 20px
    &__wrap
      padding-right: 18px
      padding-left: 18px
      margin-bottom: 12px
    &__form
      display: flex
      flex-direction: column
    &__input
      &-group
        margin-bottom: 66px
        &--full-width
          margin-bottom: 21px
    &__policy
      margin-left: -13px
      margin-bottom: 67px
      display: flex
      justify-content: flex-start
    &__button
      padding: 1.585rem 11rem
      font-size: 15px
    &__span
      display: block
    &__span-desktop
      display: block
    &__info
      &-images
        display: flex
        justify-content: center
        margin-bottom: 38px
        &--1
          background-color: $primary
          width: 39px
          height: 39px
          padding: 11px
          border-radius: 90%
          margin-right: 15px
        &--2
          background-color: $primary
          width: 39px
          height: 39px
          padding: 11px
          border-radius: 90%

@media screen and ( max-width: 760px  )

  .footer
    padding-bottom: 0
    background: $dark
    &__menu
      display: none
    &__map
      overflow: hidden
      margin: 0 17px 41px
      min-height: 255px
      order: 3
    &__info
      order: 4
    &__wrap-bottom
      display: flex
      flex-direction: column

@media screen and ( min-width: 1200px  )

  #userNameFooter-error
    margin-top: 46px

  #userPhoneFooter-error
    margin-top: 46px

  #userTextFooter-error
    margin-top: 46px

  #checkboxFooter-error
    margin: 1.3rem 11.28rem

  #userNameModal-error
    margin-top: 48px

  #userPhoneModal-error
    margin-top: 48px

  #userEmailModal-error
    margin-top: 48px

  #checkboxModal-error
    margin-top: 17px
    margin-left: 26px
    argin-right: 0

@media screen and ( max-width: 520px  )

  #checkboxFooter-error
    margin: 1.3rem 3.8rem
