.footer
  padding-top: 3rem
  background: $dark url('../img/footer-bg.jpg')  no-repeat center / cover
  &__wrap
    background: $black
    max-width: 63.07rem
    margin: auto
    padding: 2.5rem
    margin-top: -18rem
    margin-bottom: 3.714rem
  &__title
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-weight: normal
    font-size: 1.42rem
    text-align: center
    margin-bottom: 3.214rem
    margin-top: 0
  &__heading
    font-family: 'Yeseva One', cursive
    color: $primary
    font-weight: normal
    font-size: 1.42rem
    text-align: center
    text-transform: uppercase
    line-height: 28px
  &__span
    cursor: pointer
    color: $primary
    text-decoration: none
  &__info
    max-width: 500px
    margin: auto
    &-images
      display: flex
      justify-content: center
      margin-bottom: 43px
      &--1
        background-color: $primary
        width: 28px
        height: 28px
        padding: 5px
        border-radius: 90%
        margin-right: 15px
      &--2
        background-color: $primary
        width: 28px
        height: 28px
        padding: 5px
        border-radius: 90%
  &__form
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    max-width: 37.1rem
    margin: auto
  &__input
    padding-top: 0.3rem
    &-group
      display: flex
      flex-direction: column
      flex-basis: 45%
      margin-bottom: 3.42rem
      &--full-width
        flex-basis: 100%
        margin-bottom: 2rem
  &__policy
    flex-basis: 100%
    margin-bottom: 3.57rem
  &__button
    margin: auto
    padding: 1.285rem 4.785rem
  &__menu
    background-color: $dark
    padding: 4.285rem 0
  &__map
    margin: auto
    margin-bottom: 4rem
    min-height: 33.2rem
    max-width: 66rem
    display: flex
    justify-content: center

// Footer modal

#userNameFooter-error
  margin-top: 40px

#userPhoneFooter-error
  margin-top: 40px

#userTextFooter-error
  margin-top: 40px

#checkboxFooter-error
  margin: 1.3rem 11.28rem
